                    <hr class="hr-line">
                    <h3 class="title" style="font-size:35px;">
                        {% if site.facebook %}<a class="social-btn" href="https://waikantu.com/the-newyorker/" target="_blank" rel="noopener noreferrer"><img src="http://waikantu.com/assets/img/economist_logo.svg" alt="The Economist Logo" width="40" height="50"></a>{% endif %}
                        {% if site.google.plus %}<a class="social-btn" href="http://plus.google.com/+{{ site.google.plus }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-google-plus-square"></i></a>{% endif %}
                        {% if site.linkedin %}<a class="social-btn" href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-linkedin-square"></i></a>{% endif %}
                        {% if site.xing %}<a class="social-btn" href="http://www.xing.com/profile/{{ site.xing }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-xing-square"></i></a>{% endif %}
                        {% if site.instagram %}<a class="social-btn" href="http://instagram.com/{{ site.instagram }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-instagram"></i></a>{% endif %}
                        {% if site.tumblr %}<a class="social-btn" href="http://{{ site.tumblr }}.tumblr.com" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-tumblr-square"></i></a>{% endif %}
                        {% if site.medium %}<a class="social-btn" href="https://medium.com/{{ site.medium }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-fw fa-medium"></i></a>{% endif %}
                        {% if site.github-url %}<a class="social-btn" href="https://waikantu.com/the-science/" target="_blank" rel="noopener noreferrer"><i class="fa fa-scribd fa-2x"></i></a>{% endif %}
                  </h3>
